:host {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    font-size: 18px;
    th, td {
      padding: 0 1.5em;
    }
    th {
      font-weight: 500;
      ::ng-deep .t-sort {
        font-weight: 500;
      }
    }
    tr {
      border-radius: 4px;
      box-shadow: 0 4px 10px rgba(155, 157, 158, 0.25);
    }
    td {
      border: none;
      height: 86px;
      font-size: 0.9em;
    }
  }

  .table {
    &__header--actions {
      width: 0;
    }

    &__column--actions {
      text-align: center;
    }
  }


}

.table-actions-menu {
  width: 180px;
  box-sizing: border-box;

  &__option {
    padding: 1em 2em;
    justify-content: flex-start;
    gap: 1em;
  }
}
