<tui-island>
  <form [formGroup]="EmployeeForm">
    <label>
      Name<sup>*</sup>
      <tui-input formControlName="name" [tuiTextfieldLabelOutside]="true">
        Type Employee's Name
        <input tuiTextfield type="text">
      </tui-input>
      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label>
      Surname<sup>*</sup>
      <tui-input formControlName="surname" [tuiTextfieldLabelOutside]="true">
        Type Employee's Surname
        <input tuiTextfield type="text">
      </tui-input>
      <tui-error
        formControlName="surname"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label>
      Work Position<sup>*</sup>
      <tui-select formControlName="work_position" [tuiTextfieldLabelOutside]="true">
        Select Work Position
        <input tuiTextfield type="text">
        <ng-template tuiDataList>
          <tui-data-list>
            <button *ngFor="let optionEntry of WorkPositionOptions" tuiOption
                    [value]="optionEntry[0]">{{optionEntry[1]}}</button>
          </tui-data-list>
        </ng-template>
      </tui-select>
      <tui-error
        formControlName="work_position"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <label>
      Date of Birth<sup>*</sup>
      <tui-input-date formControlName="date_of_birth" [tuiTextfieldLabelOutside]="true">
        Select Employee's Date of Birth
      </tui-input-date>
      <tui-error
        formControlName="date_of_birth"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
    <button (click)="onSubmitEmployee()" tuiButton type="submit">{{submitLabel}}</button>
  </form>
</tui-island>
