:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 1em;
}
.employees-list {
  &__actions-bar {

  }
  &__search-input {
    width: 100%;
    max-width: 400px;
  }
}
