/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/museo-sans-rounded');

$font-family: 'Museo Sans Rounded', sans-serif;

:root {
  --tui-heading-font: $font-family;
  --tui-text-font: $font-family;

  // COLORS
  --tui-primary: #E22017;
  --tui-primary-active: #a11913;
  --tui-primary-hover: #ec342c;
}

body {
  font-family: $font-family;
  font-weight: 500;
  background-color: #DDDFE0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

.constrained-container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}
